@charset "utf-8";

/*----------------------------------------------*/

/* ▼打刻修正申請一覧▼ */

#wrap-adit-page {
	/*width: 598px;*/
}

#wrap-adit-page #wrap-basic-shift-table table.type-b {
	table-layout: auto;
}

#wrap-adit-page #wrap-basic-shift-table table.type-b .staff {
	width: 160px;
}

#wrap-adit-main {
}

#time-table table.note th,
#time-table table.note td {
	border-bottom:1px solid #E8E8E8;
}

#wrap-adit-main .c-left {
	width: 530px;
}

.wrap-type-c-table table {
	width: 560px;
	margin: 0 auto;
	border: 1px solid #919191;
}
.wrap-type-c-table table th {
	background: #e7eeff;
	border-bottom: 1px dotted #cccccc;
	border-right: 1px solid #cccccc;
}
.wrap-type-c-table table td {
	border-bottom: 1px dotted #cccccc;
}

.wrap-type-b-table table th {
	background: linear-gradient(top, #ffffff, #e5e5e5);
	background: -moz-linear-gradient(top, #fff, #e5e5e5);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
	border-bottom: 1px solid #cccccc;
	padding: 3px 12px;
	font-weight: normal;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	text-align: center;
	color: #
}