@charset "utf-8";

/*/////////////////////////////////////////////////////////////

	共通用

//////////////////////////////////////////////////////////////*/

.ajust-width-290{
	width: 290px !important;
}

.ajust-width-400{
	width: 400px !important;
}