@charset "utf-8";

/*----------------------------------------------*/

/* ▼管理ページ▼ */

#wrap-management-page {
    width: 1160px;
    margin: 0 auto;
}

/*----------------------------------------------*/

/* ▼スタッフ詳細ページ用▼ */

#wrap-management-page img.group {
	vertical-align: middle;
}

#wrap-management-page .input-form {
	margin: 5px 0 0;
}

#wrap-management-page .input-form p {
	float: left;
}

#wrap-management-page .input-form p.form {
	margin: 0 40px 0 10px;
}

#wrap-management-page .wrap-type-b-table .staff {
	width: 160px;
}

#wrap-management-page .select-form {
	padding: 10px 0;
}

/* 「スタッフ詳細ページ」の基本シフト用に、type-bテーブルを再定義 */


#wrap-basic-shift-table table.type-b {
}

#wrap-basic-shift-table table.type-b td {
	text-align:center;
}

#wrap-basic-shift-table table.type-b .staff {
	width: 160px;
}

.staff-select-block img {
	vertical-align: middle;
}

.staff-select-block select {
	margin: 0 25px 0 0;
}

#wrap-management-page table.left td {
	text-align: left;
}

#wrap-work-table-page .page-header-block {
	border-bottom: 1px solid #E8E8E8;
}

