@charset "utf-8";

@media print {
    .no_print {
        display: none !important;
    }
}
@media screen {
    .print_only {
        display: none !important;
    }
}

.header-info-buttons {
    //float: right;
    //margin-right: 10px;
    //margin-top: 10px;
    margin: 8px;
    display: inline-block;
    position: relative;
    top: -5px;
}

.header-info-buttons img {
    position: absolute;
    margin-top: 4px;
    margin-left: -8px;
}

.header-info-buttons a {
    //font-size: 0.9em;
    //height: 40px;
    border-radius: 0px;
}

/* #21401 ヘッダ右上の表示情報 */
#user-header {
    //float: right;
    //font-size: 110%;
    margin-top: 4px;
    //margin-right: 20px;
    text-align: right;
    white-space: nowrap;
}
#user-header div {
    display: inline-block;
}
#user-header .search-icon {
    font-size: 24px;
    padding: 18px;
    top: 4px;
    position: relative;
}
#user-header #user-helper.hide {
    display: none;
}
#user-header #user-helper {
    display: inline-block;
    font-size: 18px;
}
#user-header #header-user-info {
    display: inline-block;
    font-size: 16px;
}
#user-header #header-user-info #company-name , #user-header #header-user-info #manager-name {
    padding: 10px;
}
#user-header .glyphicon {
    margin-right: 6px;
}
#help {
    margin-right: 1em;
}
#contact {
    margin-right: 1em;
}
#manager-name {
    position: relative;
}
#manager-name a {
    text-decoration: none;
}
#rollover-menu {
    background: #ffffff;
    border: 1px solid;
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 100;
    font-size: 12px;
}
#rollover-menu li {
    padding: 10px;
    text-align: center;
}
#rollover-menu li:hover {
    background: #479fff;
    color: #ffffff;
    cursor: pointer;
}
