@font-face {
    font-family: 'Noto Sans JP';
    font-weight: 400;
    font-style: normal;
    src: local('Noto Sans CJK JP Regular'), url('//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2') format('woff2'), url('//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff') format('woff'), url('//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf') format('opentype');
    font-display: swap;
}

body {
    height: 100%;
    margin: 0;
}

.jbcid-header {
    font-family: 'Noto Sans JP', YuGothic, 'Yu Gothic', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'Helvetica', sans-serif;
    z-index: 1030;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.jbcid-header *, .jbcid-header *:before, .jbcid-header *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.jbcid-header a, .jbcid-header a:hover, .jbcid-header a:active, .jbcid-header a:focus {
    text-decoration: none;
    outline: none;
}

.jbcid-header>.jbcid-navbar {
    min-height: 24px;
    margin-bottom: 0;
    margin-left: 0;
    border: none;
    border-radius: 0;
    background-color: #242e33;
}

.jbcid-header>.jbcid-navbar:after {
    display: table;
    clear: both;
    content: ' ';
}

.jbcid-header>.jbcid-navbar>.jbcid-navbar-header {
    display: block;
}

.jbcid-header>.jbcid-navbar>.jbcid-navbar-header>.jbcid-logo {
    display: block;
    width: 100px;
    height: 24px;
    text-align: center;
    border-right: solid #666 1px;
}

.jbcid-header>.jbcid-navbar>.jbcid-navbar-header>.jbcid-logo:hover {
    background-color: rgba(0, 0, 0, .15);
}

.jbcid-header>.jbcid-navbar>.jbcid-navbar-header>.jbcid-logo>img.jbcid {
    width: 58.3px;
    height: 12px;
    margin: 6px auto;
}

.jbcid-header .nav {
    display: block;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.jbcid-header .nav>li {
    position: relative;
    display: block;
    float: left;
}

.jbcid-header .nav>li>a {
    font-size: 11px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    position: relative;
    display: block;
    padding: 3px;
    text-align: center;
    letter-spacing: normal;
    color: #ccc;
}

.jbcid-header .nav>li>a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .15);
}

.jbcid-header .nav>li>a:focus {
    color: #fff;
    background-color: rgba(0, 0, 0, .15);
}

.jbcid-header .nav>li>a.jbc-app-link {
    width: 75px;
    height: 24px;
    border-right: solid #666 1px;
}

.jbcid-header .nav>li>a.active {
    color: #fff;
    border: none;
    background-color: #1880fb;
}


/* ユーザメニュー */

.jbcid-header .user-menu {
    margin-right: 10px;
}

.jbcid-header .user-menu .account-image {
    margin-right: 5px;
    vertical-align: middle;
}

.jbcid-header .user-menu.open>.user-menu-items {
    display: block;
}

.jbcid-header .user-menu-items {
    font-size: 14px;
    position: absolute;
    z-index: 1900000010;
    right: 0;
    display: none;
    width: 230px;
    padding: 1px 0 0 0;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, .15);
    border-color: #eee;
    border-top-width: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px 0 #ccc;
    background-color: white;
    letter-spacing: 0.3px;
}

.jbcid-header .user-menu-items>li>a {
    font-weight: normal;
    line-height: 12px;
    display: block;
    clear: both;
    height: 38px;
    padding: 12px 16px;
    white-space: nowrap;
    color: #777;
}

.jbcid-header .user-menu-items>li>a:hover, .user-menu-items>li>a:focus {
    color: #333;
    background-color: #e1e3e9;
}

.jbcid-header .angle-down {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    display: inline-block;
    margin-right: 5px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.jbcid-header .angle-down:before {
    content: '\f107';
}

@-ms-viewport {
    width: device-width;
}

.jbcid-header .visible-xs {
    display: none !important;
}

.jbcid-header .jbcid-navbar-left {
    float: left !important;
}

.jbcid-header .jbcid-navbar-right {
    float: right !important;
}

@media (min-width: 768px) {
    .jbcid-header .jbcid-navbar-header {
        float: left;
    }
}

@media (max-width: 767px) {
    .jbcid-header .visible-xs {
        display: block !important;
    }
    .jbcid-header .hidden-xs {
        display: none !important;
    }
    .jbcid-header>.jbcid-navbar>.jbcid-navbar-header>.jbcid-logo {
        width: 100%;
        border-bottom: solid #666 1px;
    }
    .jbcid-header #xs-logout {
        margin-right: -5px;
        border-left: solid #666 1px;
    }
}

@media print {
    .jbcid-header {
        display: none !important;
    }
}
