@charset "utf-8";

/*/////////////////////////////////////////////////////////////

	1. クライアントログイン画面

//////////////////////////////////////////////////////////////*/

#one-column-block table.type-c {
	width: 500px;
	margin: 0 auto;
}

#one-column-block table.type-c th {
	/*text-align: right;
	padding: 25px 1em 25px 0;
	background: url(/st/img/common/common_line.gif) repeat-x left bottom;*/
	white-space: nowrap;
	width: 120px;
}

#one-column-block table.type-c input{
	width: 80%;
}

.login-logo-size {
    width: 220px !important;
    height: 70px !important;
}