@charset "utf-8";

/*----------------------------------------------*/

/* ▼メール配信ページ用▼ */

/* 「メール配信ページ」の基本シフト用に、type-bテーブルを再定義 */


#wrap-mail-page {
	width: 598px;
}

#wrap-mail-page h3.mail {
	font-size: 15px;
	margin: 30px 0 30px 5px;
}

#wrap-mail-member-table h3 {
	font-size: 15px;
	margin: 30px 0px;
}

#wrap-mail-member-table .post {
	margin: 0 0 10px;
	padding: 0 0 10px 0;
	width: 100%;
	border-bottom: 1px solid #E8E8E8;
}

#wrap-mail-member-table .post input {
	margin: 0 0 0 10px;
}

#wrap-mail-member-table .all-select {
	text-align:right;
	padding: 5px 12px;
	background: #FFF6EE;
}

#wrap-mail-member-table .all-select input {
	margin: 0 3px 0 0;
}

#wrap-management-page #wrap-mail-member-table .wrap-type-b-table {
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	border-right: 1px solid #E8E8E8;
	height: 365px;
	overflow: scroll;
	padding: 0px;
	margin: 0;
}

#wrap-mail-member-table table.type-b td {
	text-align:left;
	padding: 5px;
	border-left: 1px solid #E8E8E8;
	border-top: 1px solid #E8E8E8;
	border-right: 0px none;
	width: 50%;
	background: #FFF;
}

#wrap-mail-member-table table.type-b td.active {
	background: #FCDBBB;
	font-weight: bold;
}

#wrap-mail-member-table table.type-b td input {
	margin: 0 15px 0 10px;
}

.wrap-mail-contents-input-block h3 {
	font-size: 15px;
	margin: 0 0 5px;
}

.wrap-mail-contents-input-block {
	margin: 30px 0 0;
}

.wrap-mail-contents-input-block input {
	width: 450px;
	border: 1px solid #E8E8E8;
	text-align: left;
}

.wrap-mail-contents-input-block input.title {
	width: 450px;
	border: 1px solid #E8E8E8;
}

.wrap-mail-contents-input-block textarea {
	width: 450px;
	border: 1px solid #E8E8E8;
	text-align: left;
}

.wrap-mail-contents-input-block .subject {
	margin: 0 0 30px;
}

.wrap-mail-contents-input-block table.note td {
	text-align: left;
}
