@charset "utf-8";

.shift-tab {
    padding: 5px;
}

.shift-tab .prt {
    clear: both;
    margin: -10px 0 0 0;
    padding: 0;
}

.shift-tab .page-header-block {
    border: 0;
    padding-bottom: 0;
}

.shift-tab .line {
    height: 1px;
    border-top: 1px solid #E8E8E8;
    margin: 10px 0 10px -20px;
    width: 978px;
}

.shift-tab .contents-wrap-top {
    background : url("/st/img/client/shift_top.gif") no-repeat scroll left top transparent;
    width: 1000px;
}

.shift-tab .contents-wrap-middle {
    background : url("/st/img/client/shift_middle.gif") repeat-y scroll left top transparent;
    padding: 0;
    width: 1000px;
}

.shift-tab .contents-wrap-middle .main {
    margin: 0 30px 0 30px;
    padding: 10px 0 0 0;
    width: 940px;
}

.shift-tab .contents-wrap-bottom {
    background : url("/st/img/client/shift_bottom.gif") no-repeat scroll left top transparent;
    height: 12px;
    width: 1000px;
}

#shift-menu {
	float: right;
	margin: 0 0 -7px 0;
        padding: 0;
}

/*----------------------------------------------*/

/* ▼手動打刻一覧▼ */

#wrap-shift-page {
	/*width: 598px;*/
}

#wrap-shift-page .page-header-block .c-left {
	width: 70%;
}

#wrap-shift-page .page-header-block .c-right {
	margin-top: 20px;
}

#wrap-shift-page .page-contents-block {
	margin: 20px 0 0;
}

#wrap-shift-page .page-contents-block .pager {
	margin: 0 300px 0 0;
	float: right;
}

#wrap-shift-page .page-contents-block .pager img {
	margin: 0 3px 0 0;
}

#wrap-shift-page .page-contents-block .table-title {
	margin-bottom: 5px;
}

#wrap-shift-page .page-contents-block h4 {
	display: inline-block;
	margin-left: 10px;
	/*color: #FFF;*/
}


#wrap-shift-page #job {
	border: 2px solid #616161;
	width: 20px;
	height: 20px;
	display: inline-block;
}

#wrap-shift-page .print {
  margin-top: 8px;
}

/* 線引き */

#wrap-shift-page div.line {
  height: 1px;
  margin: 8px 0 8px 0;
  border-top: 1px solid #E8E8E8;
}



#wrap-shift-page table.type-b {
	table-layout: auto;
}

#wrap-shift-page table.type-b .blank {
	background: #FFFFFF;
}

#wrap-shift-page table.type-b .space td {
	border-top: 8px solid #FFFFFF;
}

#wrap-shift-page table.type-b .staff {
	border-right: 8px solid #FFFFFF;
	width: 105px;
}

#wrap-shift-page table.type-b .sun {
	color: #FF0000;
}

#wrap-shift-page table.type-b .sat {
	color: #0000FF;
}

#wrap-shift-main {
	width: 770px;
	float: right;
}

#wrap-shift-main .c-left {
	width: 530px;
}


/* ポジション */
#position-main-form {
	width: 900px;
}

#position-main-form table.type-b {
	margin: 20px 0;
}

#position-main-form table.type-b .staff {
	width: 210px;
}

#position-main-form table.type-b table th {
	background: none;
	
}

#position-main-form .color {
	width: 205px;
	padding: 5px 0;
	margin: auto;
	text-align: center;
	
}


/* シフト受付期間設定 */
#wrap-set-term {
}

#wrap-set-term h3.title {
	background: url(/st/img/common/bg_table_th.gif) repeat-x;
	font-size: 17px;
	color: #F0F0F0;
	padding-left: 20px;
}

#wrap-set-term .set-term {
	border: 5px solid #525252;
	background: #FFF;
	padding: 20px;
	margin-bottom: 30px;
}

.error-elm {
  color: red;
}

tr.shift-holiday td{
  background-color: #F9DEBC !important;
}

.shift-ng {
  color: yellow;
  background-color: red;
}

.shift-ng a {
  color: yellow;
}

tr.shift-legal-holiday {
  background-color: #FFE5F9;
}

tr.shift-over-work td {
  background-color: #DEB887 !important;
}