@charset "utf-8";
@font-face {
   font-family: 'Noto Serif CJK JP';
   src: local('Noto Sans CJK JP Regular'), url('//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2') format('woff2'), url('//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff') format('woff'), url('//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf') format('opentype');
   font-display: swap;
}

.clearfix {width:100%;}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
 }

/* For Basic Tag Puls */

html {
  width: 100%;
  min-width: 1260px;
  letter-spacing: 0.1px;
}

body {
  width: 100%;
    margin: auto;
    padding: 0px;
    font-size: 12px;
    color: #5B5B5B;
    line-height: 1.5;
    /*text-align: center;*/
    font-family: 'Noto Serif CJK JP', 'Kozuka Gothic Pro N W3' , '小塚ゴシック Std R','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
}

img {
    border: 0px none;
}

h1,h2,h3,h4,h5,h6,p,form,dl,dt,dd {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

ul,ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li,ol li {
    margin: 0px;
    padding: 0px;
}

ul li img {
}

table {
    font-size: /*13px*/ 1em;
    line-height: 1.5;
    border-width: 0px;
    border-style: none;
        width: 100%;
}

a {
    color: #7D7D7D;
    text-decoration: underline;
}


a:hover {
    color: #3C3C3C;
    text-decoration: none;
}

img {
    /*behavior: url("/st/js/iepngfix.htc");*/
}

.disabled {
  color: #9D9387;
}

input[type="image"][disabled] {
  opacity: 0.5;
  -moz-opacity: 0.5;
  zoom: 1;
  filter: alpha(opacity=50);
  cursor: default;
}

/*----------------------------------------------*/

/* For Basic Parts */

.anchor{
    font-size:0px;
    line-height:0px;
    display:block;
    overflow:hidden;
    height:0px;
    padding: 0px;
    height: 0px;
    border: 0px;
}

.prt {
    clear: both;
    line-height: 0px;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    height: 0px;
    border: 0px;
}

.bold {
    font-weight: bold;
}

.c-left {
    float:left;
}

.c-right {
    float:right;
}

.alert-red {
        color: red;
}

/*----------------------------------------------*/

/* ▼レイアウト用▼ */

#all {
    text-align: left;
    padding: 0 0 25px 0;
    min-height: 100%;
}

#for-one #all {
    background-image: none;
}

#wrap {
    width: 1250px;
    margin: 0 auto;
}

#wrap-inside {
}

#main {
}


#contents {
    //background: #f9f7eb;
    //border: 1px solid #eaeaea;
    //border-radius: 1px;
    //padding-top: 15px;
}
#wrap-management-page {
    //width: 1160px;
    margin: 0 auto;
}
#wrap-shift #main {
}

#wrap-shift #menu {
    text-align: center;
}

#wrap-shift #contents {
}

.staff-select-block {

}

#content .categoryLink {
    margin: 10px 0 5px 0;
}
#content .categoryLink ul li {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 6px;
}
#content .categoryLink2 {
    float: right;
    margin: -30px 0 0 0;
    border: 1px dotted #ccc;
    padding: 10px;
    background-color: white;
}
#content .categoryLink2 li {
    display: inline;
    margin-right: 6px;
}
#content .categoryLink3 {
    margin: 10px 0 0 0;
}
#content .categoryLink3 li {
    display: inline;
    margin-right: 6px;
}

/* . 1カラム用コンテンツ
------------------------------------------------- */
#contents-one-column {
    margin: 0 0 0 9px;
}

#contents-one-column .page-header-block {
    background: transparent url(/st/img/common/h2_line_long.gif) no-repeat scroll left bottom;
    padding: 0 0 8px;
}
/*
#menu {
    width: 211px;
    float: left;
    padding-top: 29px;
}
*/
/*----------------------------------------------*/

/* ▼フッター▼ */

#all-footer {
    text-align: center;
    background: #606060;
    border-top: 1px solid #a0a0a0;
    margin: 0 auto 0;
}

#footer {
}

#footer #foot-menu {
    width: 600px;
    float: left;
}

#footer .pagetop {
    width: 179px;
    float: right;
}

#footer #foot-menu ul {
    width: 224px;
    margin: 7px 0 0 20px;
}

#footer #foot-menu ul li {
    float: left;
    margin: 0px 17px 0px 0px;
    padding: 0px 17px 0px 0px;
    background: url(../../img/common/f_menu_bg.gif) no-repeat right top;
}

#footer #foot-menu ul li.contactus {
    margin: 0px;
    padding: 0px;
    background: url(../none);
}

#copyright {
    text-align:center;
    max-width: 1250px;
    padding: 30px 0;
    margin: 0 auto;
    color: #ffffff;
}
#copyright a {
    color: #ffffff;
    text-decoration: none;
}

/*----------------------------------------------*/

/* ▼パン屑▼ */

#all-path {
    display: none;
    border-bottom: 1px dotted #cccccc;
    background: url(../../image/common/all_bg.gif);
}

#path {
    width: 1260px;
    margin: 0 auto;
    padding: 3px 0 6px;
}

#path p {
    padding: 3px 0 0 5px;
    color: #4C4C4C;
    font-size: 13px;
}

#path p a {
    color: #4C4C4C;
}

#path p .arrow {
    margin: 0 1em;
    color: #4C4C4C;
}


/*----------------------------------------------*/

/* ▼ヘッダ▼ */

#header {
    position: relative;
    min-height: 100px;
}

#header #header-inner {
    border-top: 3px solid #3481fa;
    width: 100%;
    margin: 0 auto;
}

#header .navbar-inner {
    width: 100% !important;
}

#header #header-inner > * {
  vertical-align: top;
}

#header h1 {
  padding: 15px 0px 0px 15px;
  position: absolute;
  display: inline-block;
  zoom: 1;
  float: left;
}

#header #header-inner #logout {
    float: right;
    margin-top: 4px;
}
#header #header-inner #logout table {
    line-height: 1;
}

/* 1-1. グローバルナビ
------------------------------------------------- */

#nav {
    background: url(../../image/header/menu_bg.gif) repeat-x;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
#nav .navInner {
    width: 980px;
    height: 36px;
    margin: 0 auto;
}
#nav .navInner > div {
  display: inline-block;
  zoom: 1;
  vertical-align: top;
}

#nav .navInner > div > div {
  position: absolute;
  z-index: 10;
  clear: both;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: solid 1px #e4e4e4;
  border-top: none;
  display: inline-block;
  zoom: 1;
}

#nav li {
  font-size: 12px;
  border-top: solid 1px #e4e4e4;
  padding: 3px;
  background: #FFFFFF;
}

#nav li a {
}

#nav li:hover {
}

#nav .nav01,
#nav .nav02,
#nav .nav03,
#nav .nav04,
#nav .nav05 {
    float: left;
    width: 196px;
    cursor: pointer;
}

#nav li.active{
      background-color: #505050;
}
#nav li.active a {
      color: #ffffff;
}
.hide {
  display: none;
}

.pager-right {
  margin:10px 0 10px 0;
}

/*----------------------------------------------*/

/* ▼左ナビゲーション▼ */
/*
#menu h2 {
    margin: 0 0 7px;
}

#menu ul {
    margin-left: 10px;
    padding-top: 18px;
}
*/
/*----------------------------------------------*/

/* ▼共通パーツ▼ */

/* ページタイトルブロック */

.page-header-block {
}

.page-header-block .c-left {
    width: 100%;
}

.page-header-block .c-right {
    text-align: right;
    float: none;
}

.page-header-block img {
    vertical-align: middle;
}

.page-header-block input {
    vertical-align: middle;
}

.page-header-block .wrap-type-b-table label {
    display: inline-block;
    padding: 5px 5px 5px 0;
}

input{

}

input[type=text],input[type=password],select,textarea {
    border: 1px solid #808080;
    color: #4C3313;
}

input,select {
    margin: 0 3px;
    color: #4C3313;
    font-family: 'Noto Serif CJK JP', 'Kozuka Gothic Pro N W3' , '小塚ゴシック Std R','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
}

textarea {
    color: #4C3313;
}

input.common {
    width: 170px;
}

input.company {
    width: 300px;
}

input.zip {
    width: 100px;
}

input.add {
    width: 340px;
}

input.upper {
    width: 50px;
}

input.amount {
    width: 70px;
}

input::-ms-clear {
    visibility: hidden;
}

/* スタッフさんの色 */

select.color {
    font-weight:bold;
}

select.color option.red {
    color: #F00;
}

select.color option.blue {
    color: #00F;
}

/* 表組み（背景白、各行下破線バージョン） */

table.type-a {
    width: 100%;
}

table.type-a th {
    text-align:left;
    padding: 10px 25px;
    background: #FFFFFF;
    white-space: nowrap;
}

table.type-a td {
    padding: 10px 0;
    background: #FFFFFF;
}

/* 表組み（背景色付きバージョン） */

table.type-b {
    width: 100%;
    table-layout: fixed;
    color: #4C3313;
    font-size: 13px;
}

table.type-b th {
    text-align:center;
    padding: 4px;
    background: #F9CDA1;
    border-right: 1px solid #E8E8E8;
}

table.type-b td {
    text-align:center;
    padding: 5px;
    border-right: 1px solid #E8E8E8;
}

table.type-b th.right {
    border-right: 0px none;
}

table.type-b td.right {
    border-right: 0px none;
}

table.type-b tr {
    background: #FFF;
}

/* 奇数行用 */

table.type-b tr.even {
    background: #FFF6EE;
}

table.type-b tr.space {
    background: #EBCBAE;
}

/* 区切りに使用する最後の要素 */

table.type-b tr.parts-last td {
    border-bottom: 1px solid #E8E8E8;
}

table.type-b tr.parts-last td.blank {
    border-bottom: 0px none;
}

/* 欠勤 */

table.type-b .absence {
    color: #FA0076;
}

/* type-c */

table.type-c {
    width: 100%;
    table-layout: fixed;
    font-size: 13px;
    margin: 10px 0 0;
}

table.type-c th {
    text-align:center;
    padding: 5px;
    background: url(/st/img/common/bg_table_th_big.gif) repeat-x;
    font-weight: bold;
    color: #FFF;
    border-top: 1px solid #E8E8E8;
}

table.type-c td {
    text-align:center;
    padding: 5px;
    border-top: 1px solid #E8E8E8;
}

table.type-c tr {
    background: #FFF;
}

/* テーブルノート */
table.note {
    font-size: 13px;
    margin: 20px 0;
    border-collapse: collapse;
    border: 1px solid #E8E8E8;
    //width: 1130px;
}

table.note th:first-child,
table.note td:first-child {
    border-left: 0;
    background: #fff6ef;
}

table.note th,
table.note td {
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}
table.note td.edit {
    padding: 0px;
    height: 25px;
}

table.note td.left {
    text-align: left;
}



table.note th {
    background: #fff6ef;
    font-weight: normal;
}

/* テーブルノート(狭い) */
table.note2 {
    width: 100%;
    font-size: 13px;
    margin: 10px 0 0;
    border-collapse: collapse;
}

table.note2 th:first-child,
table.note2 td:first-child {
    border-left: 0;
}

table.note2 th,
table.note2 td {
    border-top: 1px solid #E8E8E8;
/*    border-left: 1px solid #E8E8E8; */
    text-align: center;
}

table.note2 td.left {
    text-align: left;
}



table.note2 th {
    background: #FFF6EE;
    font-weight: normal;
}

/* 左寄せテーブルノート */
table.note-left {
    width: 100%;
    font-size: 13px;
    margin: 10px 0 0;
    border-collapse: collapse;
    border: 1px solid #E8E8E8;
}

table.note-left th:first-child,
table.note-left td:first-child {
    border-left: 0;
}

table.note-left th,
table.note-left td {
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    padding: 10px;
    text-align: left;
}

table.note-left td.center {
    text-align: center;
}

table.note-left td.right {
    text-align: right;
}

table.note-left th {
    background: #FFF6EE;
    font-weight: normal;
}

/* テーブル表標準 */
table.border {
    width: 100%;
    font-size: 13px;
    margin: 10px 0 0;
    border-collapse: collapse;
}

table.border th:last-child,
table.border td:last-child {
    border-right: 1px solid #E8E8E8;
}

table.border tr:last-child th,
table.border tr:last-child td {
    border-bottom: 1px solid #E8E8E8;
}

table.border th,
table.border td {
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    padding: 10px;
    text-align: center;
}

table.border th {
    background: #FFF6EE;
    font-weight: normal;
}

/* テーブル表左寄せ濃い色 */
table.border-left-strong {
    width: 100%;
    font-size: 15px;
    margin: 10px 0 0;
    border-collapse: collapse;
}

table.border-left-strong th:last-child,
table.border-left-strong td:last-child {
    border-right: 1px solid #E8E8E8;
}

table.border-left-strong tr:last-child th,
table.border-left-strong tr:last-child td {
    border-bottom: 1px solid #E8E8E8;
}

table.border-left-strong th,
table.border-left-strong td {
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    padding: 10px;
    text-align: left;
}

table.border-left-strong th {
    background: #F9CDA1;
  font-weight: normal;
}


table.border-left-strong tr.even {
    background: #FFF6EE;
}

table.border-left-strong div.left {
  float: left;
}

table.border-left-strong div.right {
  float: right;
}

table.border-left-strong div.center {
  text-align: center;
}

/* 周りの囲い */
.contents-wrap-top {
}

.abstract {
    font-size: 12px;
}

.content-head {
    margin-top: 15px;
    padding: 2px 0px 0px 0px;
    border-bottom: 1px dotted #dadada;
    margin-bottom: 10px;
}

.content-head > h2 {
    display: inline;
}

.contents-wrap-middle {
    //padding: 15px 15px 5px 15px;
    background: #ffffff;
    //width: 1130px;
}

.tab-content .contents-wrap-middle {
    margin: 15px;
    padding: 15px;
}

.contents-wrap-bottom {
    margin-bottom: 15px;
}

/* ページャー */

.pager {
    //margin: 20px 30px 0 0;
    text-align: center;
    font-size: 18px;
    padding: 0 0 5px 0;
}

.pager a {
    color: #474747;
    margin: 0 0.25em;
    padding: 1px 7px;
    text-decoration: none;
}

.pager .no-link {
    margin: 0 0.25em;
}

.pager .active {
    /*background: #474747;
    color: #FFF;
    padding: 5px;*/
    color: #007cff;
    font-weight: bold;
    text-decoration: none;
}

.btn-block {
    margin: 25px 0;
    text-align: center;
}
.btn {
    text-decoration: none;
    font-family: 'Noto Serif CJK JP', 'Kozuka Gothic Pro N W3' , '小塚ゴシック Std R','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
}

.lnk-block {
    text-align: right;
}

/* サーチテーブル */
.searchtable {
        width: 100%;
}
.searchtable th {
        font-weight:bold;
        width: 150px;
    padding: 4px;
}

/* サーチボックス */

.search-box {
}

.search-box .child {
    vertical-align: top;
}

.search-box a[class="child"] {
        float:right;
        height:24px;
        margin-right:20%;
}

.search-box .text-child {
        vertical-align: top;
        font-weight:bold;
        padding-top:2px;
        margin-right:10px;
/*        float:left;*/
        height:24px;
        width:120px;
        margin-bottom: 5px;
        display: -moz-inline-box; /*for Firefox 2*/
        display: inline-block; /*for modern*/
}

.search-box ul {
    display: inline;
}

.search-box ul li {
    display: inline;
    vertical-align: middle;
    white-space: nowrap;
}

.search-box ul li.serch-button {
    margin: 0 0 0 40px;
}
.search-box img {
    vertical-align: middle;
}

/* サーチボックス2 */

.search-box2 {
    padding: 25px 0;
}

.search-box2 ul {
    display: inline;
}

.search-box2 ul li {
    display: inline;
    vertical-align: middle;
    white-space: nowrap;
}

.search-box2 ul li.serch-button {
    margin: 0 0 0 40px;
}

/* セレクトボックス */

.select-box {
    padding: 25px 0;
}

/* 完了テキスト */

.finish-text {
    padding: 80px 0 55px 0;
    text-align: center;
    color: #474747;
}

/* 完了リンク */

.finish-link {
    padding: 25px 0;
    text-align: center;
    color: #474747;
    font-weight: bold;
}

.finish-link a {
    color: #474747;
}


/* リード文 */

.client-registration-block {
    /*background: url(../../img/client/staff_line.gif) no-repeat left bottom;
    padding: 25px 0px 25px 14px;*/
    font-weight: bold;
    display: inline;
}

.client-registration-block a {
    background: url(../../img/client/arrow_client.gif) no-repeat left center;
    padding: 0px 0px 0px 19px;
    text-decoration: none;
}

.client-registration-block a:hover {
    text-decoration: underline;
}

.client-registration-block span {
    padding: 0 20px 0 0;
}

/* リード文2 */

.client-registration-block2 {
    padding: 25px 0px 25px 14px;
    font-weight: bold;
}

/* 打刻ミスのテキスト */
.miss {
    background: #FF0000;
}


/* ツールチップ */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 1000px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: left;
  text-decoration: none;
  background-color: #000000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}




/*--------------------------------------
             管理画面　TOP
-----------------------------------------*/
#wrap-client-management-page {
}

#wrap-client-management-page h2 {
    font-size: 17px;
    padding-left: 20px;
    font-weight: normal;
}

#wrap-client-management-page h3 {
    font-size: 15px;
    padding-left: 20px;
    font-weight: normal;
}

#wrap-client-management-page table.type-b {
    line-height: 13px;
    table-layout: auto;
    margin-bottom: 30px;
}

#wrap-client-management-page table.type-b td {
    border-top: 1px solid #E8E8E8;
}

#wrap-client-management-page table.type-b th {
    font-size: 17px;
    padding: 0 4px;
  width:  150px;
}
#wrap-client-management-page table.type-b td.count {
  width:  150px;
}

.information-from-company {
    background: #fff;
    margin: 10px 0;
    //border: 1px solid #cccccc;
}
.information-from-company .information_toggle {
    border-bottom: 1px dotted #cccccc;
}
.information-from-company p.block {
    color: #000;
    padding-left: 10px;
    margin: 5px 0;
    display: inline-block;
    max-width: 485px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.information-from-company p.date {
    float: right;
    display: block;
    font-size: 11px;
    padding: 8px;
}
.information-from-company .next {
    padding: 10px;
}
.information-from-company .next span {font-size: 90%;}
.information-from-company table td {
    padding: 10px;
    padding-left: 20px;
    //background-color: #f7f7f7;
}
.information-from-company .information_toggle {
    background-color: #f7f7f7;
    margin: 3px 0;
}
.information-from-company .information_toggle .label{
    min-width: 60px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
    padding: 1px 5px;
    margin-right: 5px;
    background-color: #b33e3e;
    color: white;
}
.information-from-company .information_toggle .label.type1{
    background-color: #666;
}
.information-from-company .information_toggle .label.type2{
    background-color: #457cce;
}
.information-from-company .information_toggle .label.type3{
    background-color: #b33e3e;
}
.information-from-company .information_toggle.private {
    background-color: #a9a9a9;
}
.information-from-download {
    margin: 10px 0;
    //border: 1px solid #cccccc;
    background: #fff;
}
.information-from-download .table {
    border-collapse: collapse;
    margin-bottom: -1px;
}
.information-from-download .table td {
    border-bottom: 1px dotted #cccccc;
    padding: 10px;
}

.information-from-company table.note td {
    text-align: left;
    padding: 10px 20px;
}

.wrap-working-management {
    width: 255px;
    float: left;
    margin-left: 17px;
    padding-top: 30px;
    background: url(/st/image/top/table_top.gif) no-repeat left 20px;
}

.wrap-working-management .working-management {
    padding: 10px;
    min-height: 400px;
    height: auto !important;
    height: 400px;
    position: relative;
    background: url(/st/image/top/table_middle.gif) repeat-y 0 10px;
}

.wrap-working-management .working-management-bottom {
    background: url(/st/image/top/table_bottom.gif) no-repeat top left;
    width: 254px;
    height: 15px;
}

.wrap-working-management .working-management table.note td:first-child {
    text-align: left;
}

.wrap-working-management .working-management .more {
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

/* 打刻管理＞手動打刻のタブ */
.adit_menu {
    float: right;
    margin-right: 5px;
}

/* 基本情報設定＞経由地設定のタブ */
.checkpoint_menu {
    float: right;
    margin-right: 5px;
  height: 27px;
}

#wrap-management-page .contents-wrap-middle a {
}

#holiday-give-log-list input.number {
  width: 60px;
}

#holiday-give-log-list .error {
  color: red;
}

#holiday-give-log-search-result table.note {
  font-size: 12px;
  border: 1px solid #E8E8E8;
}

#holiday-give-log-search-result table.note th,
#holiday-give-log-search-result table.note td {
  padding: 5px;
}

.init-btn input {
  vertical-align: middle;
}

.init-btn select {
  vertical-align: middle;
}

#change-group input {
    vertical-align: middle;
}

#year-operator {
  padding-top: 8px;
  font-size: 18px;
  width: 100%;
}

#year-operator .op,
#year-operator .msg {
  width: 33%;
  float: left;
}

#year-operator .op.prev {
  text-align: left;
}

#year-operator .msg {
  text-align: center;
}

#year-operator .op.next {
  text-align: right;
}

/* 任意ソート用スタイル */

.sort {
  background-color: #FFF6EE;
  cursor: pointer;
}

.sort .rank {
  float: right;
  width: 20px;
  height: 18px;
  padding-left: 10px;
  display: inline-block;
}

.sort:hover {
  background-color: #FFE4C4;
}

.sort.asc .rank {
  background-image: url("/st/image/table/table_asc_w.gif");
  background-repeat: no-repeat;
  background-position: 0% 60%;
}

.sort.desc .rank {
  background-image: url("/st/image/table/table_desc_w.gif");
  background-repeat: no-repeat;
  background-position: 0% 60%;
}

#employee-list .button {
  cursor: pointer;
}

#employee-list .button:hover {
    text-decoration: underline;
        background: #ffbbaa;
}

.jobcan-bootstrap-graphicon {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000000;
    display: inline-block;
    opacity: 0.4;
    vertical-align: middle;
}

/*名前のコンボボックスに使用*/


/* 共通 */
#main #content {
    width: 1250px;
    margin: 5px auto;
}
#all h2 {
    font-size: 22px;
    margin-top: 15px;
    //padding: 2px 30px 2px 20px;
    //background: url(/st/image/common/pagetitle_arrow.gif) 0 50% no-repeat;
    border-bottom: 1px dotted #dadada;
    margin-bottom: 10px;
}
#all h2 span.glyphicon {
    padding-right: 10px;
    color: #007bff;
}
#sub {
    border-bottom: 1px solid #d4d4d4;
    //background: url(/st/image/common/all_bg.gif);
    background-color: #fff9e7;
    padding-top: 8px;
}
#sub .subInner {
    width: 1250px;
    height: 34px;
    margin: 0 auto;
}
#sub ul {
}
#sub ul li {
    display: inline;
    vertical-align: bottom;
}
#sub ul li a {
}
#sub ul li img {
}

#main h3 {
    background: #e4e4e4;
    color: #5B5B5B;
    padding: 5px 10px;
    margin: 10px 0;
    font-weight: bold;
}

#main h3 span.glyphicon{
  padding-right: 5px;
}

#main h4{
    font-size:120%;
    border-left: 8px solid #666666;
    border-bottom:dotted 1px #cccccc;
    line-height: 26px;
    padding-left: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    color:#333333;
}

#main h3.search {
    background: #e4e4e4;
    height: 26px;
    line-height: 26px;
    color: #5B5B5B;
    padding: 0;
}
#main h3.search img {vertical-align: bottom;margin-top: -20px;}


#main h3.staff {
    background: #e4e4e4;
    height: 26px;
    line-height: 26px;
    color: #5B5B5B;
    margin-top: 20px;
    padding: 0;
}
#main h3.staff img {vertical-align: bottom;margin-top: -20px;}


#employee-list .button.disabled {
  color: #9D9387;
  border-color: #9D9387;
  cursor: default;
  opacity:0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  zoom: 1;
}

#employee-list .button.disabled:hover {
  background-color: #FFFFFF;
}


/*名前のコンボボックスに使用*/
.choice-name a:hover {
    background-color: #ccc;
}

.textbutton {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 2px 12px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0)";    /* IE 8+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.textbutton:hover,
.textbutton:focus,
.textbutton:active,
.textbutton.active,
.textbutton.disabled,
.textbutton[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.textbutton:active,
.textbutton.active {
  background-color: #cccccc \9;
}
.textbutton:first-child {
  *margin-left: 0;
}
.textbutton:hover,
.textbutton:focus {
  color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.textbutton:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.textbutton.active,
.textbutton:active {
  color: #606060;
  background-image: -moz-linear-gradient(top, #faf8eb, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#faf8eb), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #faf8eb, #ffffff);
  background-image: -o-linear-gradient(top, #faf8eb, #ffffff);
  background-image: linear-gradient(to bottom, #faf8eb, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffaf8eb', endColorstr='#ffffffff', GradientType=0);
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.textbutton.disabled,
.textbutton[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.update-warn,
.update-warn {
  color: #ffffff;
  text-decoration: none;
  background-position: 0 -15px;
  background-color: #fe8c38;
  background: -moz-linear-gradient(top, #FF9F47, #FD6524);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#FF9F47), to(#FD6524));
  background: -webkit-linear-gradient(top, #FF9F47, #FD6524);
  background: -o-linear-gradient(top, #FF9F47, #FD6524);
  background: linear-gradient(to bottom, #FF9F47, #FD6524);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFF9F47', endColorstr='#ffFD6524', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *background-color: #fe8c38;
}
.update-warn:hover,
.update-warn:focus {
  color: #ffffff;
  text-decoration: none;
  background-position: 0 -15px;
  background-color: #fe8c38;
  background: -moz-linear-gradient(top, #FF9F47, #FD6524);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#FF9F47), to(#FD6524));
  background: -webkit-linear-gradient(top, #FF9F47, #FD6524);
  background: -o-linear-gradient(top, #FF9F47, #FD6524);
  background: linear-gradient(to bottom, #FF9F47, #FD6524);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFF9F47', endColorstr='#ffFD6524', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *background-color: #fe8c38;
}


/*フッターに使用*/
.footer-content-ul {
    padding: 18px 0;
    margin: 0 auto;
    //border-bottom: 1px solid #474747;
    color: #ffffff;
    font-size: 14px;
}

.footer-content-li {
  display: inline-block;
  zoom: 1;
  width: 155px;
  border-right: 1px solid #8e8b8b;
}
.footer-content-li a {color: #ffffff;}
.footer-content-li a:hover {color: #ffffff;}

.footer-content-anchor {
    text-decoration: none;
}

.footer-content-anchor:hover {
    text-decoration: underline;
    color: blue;
}


.jbc-staff-block {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.jbc-staff-title {
    display: block;
    margin-bottom: 10px;
}

.jbc-staff-ul {
}

.jbc-staff-li {
    width: 200px;
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
    zoom: 1;
}

.jbc-staff-name {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.jbc-staff-position {
    display: block;
    font-size: 12px;
}

/* トップページ用 */
.topLeft {
    float: left;
    width: 615px;
    //margin-left: 10px;
}
.topRight {
    float: right;
    width: 615px;
    //margin-right: 10px;
}
#page-top {
    position: fixed;
    bottom: 60px;
    right: 15px;
    font-size: 77%;
}
#page-top a {
    background: #fff;
    text-decoration: none;
    color: #565555;
    width: 35px;
    height: 35px;
    font-size: 30px;
    text-align: center;
    display: block;
}