﻿@charset "utf-8";
@font-face {
   font-family: 'Noto Serif CJK JP';
   src: local('Noto Sans CJK JP Regular'), url('//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2') format('woff2'), url('//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff') format('woff'), url('//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf') format('opentype');
   font-display: swap;
}

/* For Basic Tag Puls */

html {
    height: 100%;
    min-width: 1260px;
    letter-spacing: 0.1px;
}

body {
  width: 100%;
    margin: auto;
    padding: 0px;
    font-size: 12px;
    color: #5B5B5B;
    line-height: 1.5;
    /*text-align: center;*/
    font-family: 'Noto Serif CJK JP', 'Kozuka Gothic Pro N W3' , '小塚ゴシック Std R','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
}

img {
    border: 0px none;
}

h1,h2,h3,h4,h5,h6,p,form,dl,dt,dd {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

ul,ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li,ol li {
    margin: 0px;
    padding: 0px;
}

ul li img {
    vertical-align: middle;
}

table {
    font-size: /*13px*/ 1em;
    line-height: 1.5;
    border-width: 0px;
    border-style: none;
}

a {
    color: #7D7D7D;
    text-decoration: underline;
}

a:hover {
    color: #3C3C3C;
    text-decoration: none;
}

img {
    /*behavior: url("/st/js/iepngfix.htc");*/
}

/*----------------------------------------------*/

/* For Basic Parts */

.anchor{
    font-size:0px;
    line-height:0px;
    display:block;
    overflow:hidden;
    height:0px;
    padding: 0px;
    height: 0px;
    border: 0px;
}

.prt {
    clear: both;
    line-height: 0px;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    height: 0px;
    border: 0px;
}

.bold {
    font-weight: bold;
}

.c-left {
    float:left;
}

.c-right {
    float:right;
}

.alert-red {
        color: red;
}

/*----------------------------------------------*/

/* ▼レイアウト用▼ */

#all {
    text-align: left;
    padding: 0 0 25px 0;
    min-height: 100%;
    border-bottom: 1px solid #606060;
}


#for-one #all {
    background-image: none;
}

#wrap {
    width: 1260px;
    margin: 0 auto;
}

#wrap-inside {
}

#main {
}

#menu {
    display: none;
}

#contents {
    background: #f9f7eb;
    border: 1px solid #eaeaea;
    border-radius: 1px;
    padding-top: 15px;
}

#wrap-management-page {
    width: 1160px;
    margin: 0 auto;
}
#wrap-shift #main {
    width: 795px;
}

#wrap-shift #menu {
    width: 205px;
    text-align: center;
}

#wrap-shift #contents {
    width: 755px;
}

h2.page-title {
    font-size: 24px;
    padding: 0px 30px 0px 20px;
    background: url(/st/image/common/pagetitle_arrow.gif) 0 50% no-repeat;
    float: left;
    line-height: 1;
    margin: 10px 20px 10px 40px;
}


/* . 1カラム用コンテンツ
------------------------------------------------- */
#contents-one-column {
    width: 807px;
    margin: 0 0 0 9px;
}

#contents-one-column .page-header-block {
    background: transparent url(/st/img/common/h2_line_long.gif) no-repeat scroll left bottom;
    padding: 0 0 8px;
    width: 807px;
}
/*
#menu {
    width: 211px;
    float: left;
    padding-top: 29px;
}
*/
/*----------------------------------------------*/

/* ▼フッター▼ */

#all-footer {
    text-align: center;
    background: #606060;
    border-top: 1px solid #a0a0a0;
    margin: 0 auto 0;
}

#footer {
}

#footer #foot-menu {
    width: 600px;
    float: left;
}

#footer .pagetop {
    width: 179px;
    float: right;
}

#footer #foot-menu ul {
    width: 224px;
    margin: 7px 0 0 20px;
}

#footer #foot-menu ul li {
    float: left;
    margin: 0px 17px 0px 0px;
    padding: 0px 17px 0px 0px;
    background: url(../../img/common/f_menu_bg.gif) no-repeat right top;
}

#footer #foot-menu ul li.contactus {
    margin: 0px;
    padding: 0px;
    background: url(../none);
}

#copyright {
    text-align:center;
    width: 1260px;
    padding: 18px 0;
    border-top: 1px solid #a0a0a0;
    margin: 0 auto;
    color: #ffffff;
}


/*----------------------------------------------*/

/* ▼パン屑▼ */

#all-path {
    display: none;
    border-bottom: 1px dotted #cccccc;
    background: url(../../image/common/all_bg.gif);
}

#path {
    width: 1260px;
    margin: 0 auto;
    padding: 3px 0 6px;
}

#path p {
    padding: 3px 0 0 5px;
    color: #4C4C4C;
    font-size: 13px;
}

#path p a {
    color: #4C4C4C;
}

#path p .arrow {
    margin: 0 1em;
    color: #4C4C4C;
}

/*----------------------------------------------*/

/* ▼ヘッダ▼ */

#header {
}

#header #header-inner {
    border-top: 3px solid #3481fa;
    width: 100%;
    margin: 0 auto;
    height: 74px;
}

#header h1 {
    padding: 15px 0px 0px 15px;
    display: inline-block;
    zoom: 1;
}
#header #header-inner #login-contents {
    float: right;
  margin-top: -12px;
    margin-right: 4px;
}

/*----------------------------------------------*/

/* ▼左ナビゲーション▼ */

#menu h2 {
    margin: 0 0 7px;
}

#menu ul {
    margin-top: 18px;
    margin-left: 10px;
}

#menu ul li {
    padding: 0 0 10px;
}

/*----------------------------------------------*/

/* ▼共通パーツ▼ */

/* ページタイトルブロック */

.page-header-block {
    padding: 0px 0px 8px;
    border-bottom: 1px solid #E8E8E8;
}

.page-header-block .c-left {
    width: 100%;
}

.page-header-block .c-right {
    text-align: right;
    float: none;
}
input {

}
input,select {
    color: #4C3313;
}

input.common {
    width: 170px;
}

input.company {
    width: 300px;
}

input.zip {
    width: 100px;
}

input.add {
    width: 340px;
}

input.upper {
    width: 50px;
}

input.amount {
    width: 70px;
}

/* スタッフさんの色 */

select.color {
    font-weight:bold;
}

select.color option.red {
    color: #F00;
}

select.color option.blue {
    color: #00F;
}

/* 表組み（背景白、各行下破線バージョン） */

table.type-a {
    width: 100%;
}

table.type-a th {
    text-align:left;
    padding: 10px 25px;
    background: #FFFFFF;
    white-space: nowrap;
}

table.type-a td {
    padding: 10px 0;
    background: #FFFFFF;
}

/* 表組み（背景色付きバージョン） */

table.type-b {
    width: 100%;
    table-layout: fixed;
    color: #4C3313;
    font-size: 13px;
}

table.type-b th {
    text-align:center;
    padding: 4px;
    background: #F9CDA1;
    border-right: 1px solid #E8E8E8;
}

table.type-b td {
    text-align:center;
    padding: 5px;
    border-right: 1px solid #E8E8E8;
}

table.type-b th.right {
    border-right: 0px none;
}

table.type-b td.right {
    border-right: 0px none;
}

table.type-b tr {
    background: #FFF;
}

/* 奇数行用 */

table.type-b tr.even {
    background: #FFF6EE;
}

table.type-b tr.space {
    background: #EBCBAE;
}

/* 区切りに使用する最後の要素 */

table.type-b tr.parts-last td {
    border-bottom: 1px solid #E8E8E8;
}

table.type-b tr.parts-last td.blank {
    border-bottom: 0px none;
}

/* 欠勤 */

table.type-b .absence {
    color: #FA0076;
}

/* type-c */

table.type-c {
    width: 100%;
    table-layout: fixed;
    font-size: 13px;
    margin: 10px 0 0;
}

table.type-c th {
    text-align:center;
    padding: 5px;
    background: url(/st/img/common/bg_table_th_big.gif) repeat-x;
    font-weight: bold;
    color: #FFF;
    border-top: 1px solid #E8E8E8;
}

table.type-c td {
    text-align:center;
    padding: 5px;
    border-top: 1px solid #E8E8E8;
}

table.type-c tr {
    background: #FFF;
}

/* テーブルノート */
table.note {
    width: 100%;
    font-size: 13px;
    margin: 10px 0 0;
    border-collapse: collapse;
}

table.note th:first-child,
table.note td:first-child {
    border-left: 0;
}

table.note th,
table.note td {
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    padding: 8px;
    text-align: center;
}

table.note td.left {
    text-align: left;
}

table.note th {
    background: linear-gradient(top, #ffffff, #e5e5e5);
    background: -moz-linear-gradient(top, #fff, #e5e5e5);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
    border-bottom: 1px solid #cccccc;
    padding: 3px 12px;
    font-weight: normal;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    text-align: center;
}

table.editinfo {
    width: 558px;
    border: 1px solid #919191;
}
table.editinfo th {
    background: #e6efff;
}

/* 2012/06/22 同一日複数シフト申請対応 START */
table.note-wide {
    font-size: 13px;
    margin: 10px 0 0;
    border-collapse: collapse;
    border: 1px solid #919191;
    width: 100%;
}
table.note-wide th {
    background: linear-gradient(top, #ffffff, #e5e5e5);
    background: -moz-linear-gradient(top, #fff, #e5e5e5);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
    border-bottom: 1px solid #cccccc;
    padding: 3px 12px;
    font-weight: normal;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    text-align: center;
}

table.note-wide td {
    border: 1px dotted #cccccc;
    padding: 8px;
    text-align: center;
}
table.note-wide tr.even td {
    background: #e6efff;
}
/* 2012/06/22 同一日複数シフト申請対応 END */



/* 左寄せテーブルノート */
table.note-left {
    width: 100%;
    font-size: 13px;
    margin: 10px 0 0;
    border-collapse: collapse;
}

table.note-left th:first-child,
table.note-left td:first-child {
    border-left: 0;
}

table.note-left th,
table.note-left td {
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    padding: 10px;
    text-align: left;
}

table.note-left td.center {
    text-align: center;
}

table.note-left td.right {
    text-align: right;
}

table.note-left th {
    background: #FFF6EE;
    font-weight: normal;
}

/* テーブル表標準 */
table.border {
    width: 100%;
    font-size: 13px;
    margin: 10px 0 0;
    border-collapse: collapse;
}

table.border th:last-child,
table.border td:last-child {
    border-right: 1px solid #E8E8E8;
}

table.border tr:last-child th,
table.border tr:last-child td {
    border-bottom: 1px solid #E8E8E8;
}

table.border th,
table.border td {
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    padding: 10px;
    text-align: center;
}

table.border th {
    background: #FFF6EE;
    font-weight: normal;
}

/* テーブル表左寄せ濃い色 */
table.border-left-strong {
    width: 100%;
    font-size: 15px;
    margin: 10px 0 0;
    border-collapse: collapse;
}

table.border-left-strong th:last-child,
table.border-left-strong td:last-child {
    border-right: 1px solid #E8E8E8;
}

table.border-left-strong tr:last-child th,
table.border-left-strong tr:last-child td {
    border-bottom: 1px solid #E8E8E8;
}

table.border-left-strong th,
table.border-left-strong td {
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    padding: 10px;
    text-align: left;
}

table.border-left-strong th {
    background: #F9CDA1;
  font-weight: normal;
}


table.border-left-strong tr.even {
    background: #FFF6EE;
}

table.border-left-strong div.left {
  float: left;
}

table.border-left-strong div.right {
  float: right;
}

table.border-left-strong div.center {
  text-align: center;
}

/* 周りの囲い */
.contents-wrap-top {
}

.contents-wrap-middle {
    padding: 15px 15px 5px 15px;
    background: #ffffff;
    margin: 0 auto 15px;
    width: 1130px;
}

.contents-wrap-bottom {
    margin-bottom: 15px;
}

/* 2012/06/22 同一日複数シフト申請対応 START */
.contents-wrap-top-wide {
}

.contents-wrap-middle-wide {
    padding: 15px 15px 5px 15px;
    background: #ffffff;
    margin: 0 auto 15px;
    width: 1130px;
}

.contents-wrap-bottom-wide {
}
/* 2012/06/22 同一日複数シフト申請対応 END */

/* ページャー */

.pager {
    margin: 20px 30px 0 0;
    text-align: center;
}

.pager a {
    color: #474747;
    margin: 0 0.25em;
}

.pager .no-link {
    margin: 0 0.25em;
}

.pager .active {
    /*background: #474747;
    color: #FFF;
    padding: 5px;*/
    color: #339ADB;
    text-decoration: none;
}

.btn-block {
    margin: 25px 0 30px;
    text-align: center;
}

.btn {
    font-family: 'Noto Serif CJK JP', 'Kozuka Gothic Pro N W3' , '小塚ゴシック Std R','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
}

/* サーチボックス */

.search-box {
}

.search-box .child {
    vertical-align: super;
}

.search-box a[class="child"] {
        float:right;
        height:24px;
        margin-right:20%;
}

.search-box .text-child {
        vertical-align: middle;
        font-weight:bold;
        padding-top:2px;
        margin-right:10px;
        float:left;
        height:24px;
        width:120px;
}

.search-box ul {
    display: inline;
}

.search-box ul li {
    display: inline;
    vertical-align: middle;
    white-space: nowrap;
}

.search-box ul li.serch-button {
    margin: 0 0 0 40px;
}

.search-box img {
    vertical-align: middle;
}

.search-box input {
    vertical-align: middle;
}

/* サーチボックス2 */

.search-box2 {
    padding: 25px 0;
}

.search-box2 ul {
    display: inline;
}

.search-box2 ul li {
    display: inline;
    vertical-align: middle;
    white-space: nowrap;
}

.search-box2 ul li.serch-button {
    margin: 0 0 0 40px;
}

/* セレクトボックス */

.select-box {
    padding: 25px 0;
}

/* 完了テキスト */

.finish-text {
    padding: 80px 0 55px 0;
    text-align: center;
    color: #474747;
}

/* 完了リンク */

.finish-link {
    padding: 25px 0;
    text-align: center;
    color: #474747;
    font-weight: bold;
}

.finish-link a {
    color: #474747;
}


/* リード文 */

.client-registration-block {
    /*background: url(../../img/client/staff_line.gif) no-repeat left bottom;
    padding: 25px 0px 25px 14px;*/
    font-weight: bold;
    display: inline;
}

.client-registration-block a {
    background: url(../../img/client/arrow_client.gif) no-repeat left center;
    padding: 0px 0px 0px 19px;
    text-decoration: none;
}

.client-registration-block a:hover {
    text-decoration: underline;
}

.client-registration-block span {
    padding: 0 20px 0 0;
}

/* リード文2 */

.client-registration-block2 {
    padding: 25px 0px 25px 14px;
    font-weight: bold;
}

/* 打刻ミスのテキスト */
.miss {
    background: #FF0000;
}

/* 1-1. グローバルナビ
------------------------------------------------- */
#nav {
    background: url(../../image/header/menu_bg.gif) repeat-x;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
#nav .navInner {
    width: 1251px;
    height: 36px;
    margin: 0 auto;
}
#nav .navInner > div {
  display: inline-block;
  /display: inline;
  zoom: 1;
  vertical-align: top;
}

#nav .navInner > div > div {
  position: absolute;
  z-index: 10;
  clear: both;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: solid 1px #e4e4e4;
  border-top: none;
  display: inline-block;
  /display: inline;
  zoom: 1;
}

#nav li {
  font-size: 12px;
  border-top: solid 1px #e4e4e4;
  padding: 3px;
  background: #FFFFFF;
}

#nav li a {
}

#nav li:hover {
}

#nav .nav01,
#nav .nav02,
#nav .nav03,
#nav .nav04,
#nav .nav05,
#nav .nav06,
#nav .nav07,
#nav .nav08 {
    float: left;
    cursor: pointer;
    width: 178px;
}


#nav li.active{
      background-color: #505050;
}
#nav li.active a {
      color: #ffffff;
}

#nav table{
      background-color: #FFF;
}
#nav table td{
      list-style-type: none;
      margin: 0;
      padding: 0;
      border: solid 1px #e4e4e4;
}

.hide {
  display: none;
}

.pager-right {
  margin:10px 0 10px 0;
}
/*--------------------------------------
             管理画面　TOP
-----------------------------------------*/
#wrap-client-management-page {
}

#wrap-client-management-page h2 {
    font-size: 17px;
    padding-left: 20px;
    font-weight: normal;
}

#wrap-client-management-page table.type-b {
    line-height: 13px;
    table-layout: auto;
    margin-bottom: 30px;
}

#wrap-client-management-page table.type-b td {
    border-top: 1px solid #E8E8E8;
}

#wrap-client-management-page table.type-b th {
    font-size: 17px;
    padding: 0 4px;
  width:  150px;
}
#wrap-client-management-page table.type-b td.count {
  width:  150px;
}

#wrap-client-management-page .information-from-company {
    padding: 10px;
    border: 1px solid #9C6927;
    *width: 803px;
}

.information-from-company table.note td {
    text-align: left;
    padding: 10px 20px;
}

.wrap-working-management {
    width: 255px;
    float: left;
    margin-left: 17px;
    padding-top: 30px;
    background: url(/st/image/top/table_top.gif) no-repeat left 20px;
}

.wrap-working-management .working-management {
    padding: 10px;
    min-height: 400px;
    height: auto !
    important;height: 400px;
    position: relative;
    background: url(/st/image/top/table_middle.gif) repeat-y 0 10px;
}

.wrap-working-management .working-management-bottom {
    background: url(/st/image/top/table_bottom.gif) no-repeat top left;
    width: 254px;
    height: 15px;
}

.wrap-working-management .working-management table.note td:first-child {
    text-align: left;
}

.wrap-working-management .working-management .more {
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

/* 打刻管理＞手動打刻のタブ */
.adit_menu {
    float: right;
    margin-right: 5px;
}

/* 基本情報設定＞経由地設定のタブ */
.checkpoint_menu {
    float: right;
    margin-right: 5px;
  height: 27px;
}

/* 申請メニュー  # 16965 対応 */
#menu_order table{
    float: left;
    margin-top: -16px;
        margin-left: 5px;
        border: 1px dotted #FFFEEE;
        background-color:#FFFFFF;
        filter:alpha(opacity=75);
            -moz-opacity:0.75;
            -khtml-opacity: 0.75;
        opacity:0.75;
}
#menu_order table td{
        width: 130px;
    font-size: 16px;
        border: none;
}

#menu_order a{
        background-image: url(/st/img/common/arrow_next_off.gif) ;
        background-repeat: no-repeat;
        background-position: left center;
        text-decoration: none;
}
#menu_order a:hover{
        background-image: url(/st/img/common/arrow_next_on.gif) ;
        background-repeat: no-repeat;
        background-position: left center;
}
#menu_adit table{
    float: left;
    margin-top: -16px;
        margin-left: 5px;
        border: 1px dotted #FFFEEE;
        background-color:#FFFFFF;
        filter:alpha(opacity=75);
            -moz-opacity:0.75;
            -khtml-opacity: 0.75;
        opacity:0.75;
}
#menu_adit table td{
        width: 130px;
    font-size: 16px;
        border: none;
}

#menu_adit a{
        background-image: url(/st/img/common/arrow_next_off.gif) ;
        background-repeat: no-repeat;
        background-position: left center;
        text-decoration: none;
}
#menu_adit a:hover{
        background-image: url(/st/img/common/arrow_next_on.gif) ;
        background-repeat: no-repeat;
        background-position: left center;
}
#menu_shift table{
    float: left;
    margin-top: -16px;
        margin-left: 5px;
        border: 1px dotted #FFFEEE;
        background-color:#FFFFFF;
        filter:alpha(opacity=75);
            -moz-opacity:0.75;
            -khtml-opacity: 0.75;
        opacity:0.75;
}
#menu_shift table td{
        width: 130px;
    font-size: 16px;
        border: none;
}

#menu_shift a{
        background-image: url(/st/img/common/arrow_next_off.gif) ;
        background-repeat: no-repeat;
        background-position: left center;
        text-decoration: none;
}
#menu_shift a:hover{
        background-image: url(/st/img/common/arrow_next_on.gif) ;
        background-repeat: no-repeat;
        background-position: left center;
}
#menu_man_hour_manage table{
    float: left;
    margin-top: -16px;
    margin-left: 5px;
    border: 1px dotted #FFFEEE;
    background-color:#FFFFFF;
    filter:alpha(opacity=75);
    -moz-opacity:0.75;
    -khtml-opacity: 0.75;
    opacity:0.75;
}
#menu_man_hour_manage table td{
    width: 130px;
    font-size: 16px;
    border: none;
}

#menu_man_hour_manage a{
    background-image: url(/st/img/common/arrow_next_off.gif) ;
    background-repeat: no-repeat;
    background-position: left center;
    text-decoration: none;
}
#menu_man_hour_manage a:hover{
    background-image: url(/st/img/common/arrow_next_on.gif) ;
    background-repeat: no-repeat;
    background-position: left center;
}

/*フッターに使用*/
.footer-content-ul {
    text-align: left;
    padding: 18px 0;
    margin: 0 auto;
    width: 1260px;
    border-bottom: 1px solid #474747;
    color: #ffffff;
}

.footer-content-li {
  padding-left: 5px;
  display: inline-block;
  /display: inline;
  zoom: 1;
  margin-right: 25px;
}
.footer-content-li a {color: #ffffff;}
.footer-content-li a:hover {color: #ffffff;}

.footer-content-anchor {
    text-decoration: none;
}

.footer-content-anchor:hover {
    text-decoration: underline;
    color: blue;
}


/* 共通 */
#main #content {
    width: 1250px;
    margin-top: 20px;
}
#all h2 {
    font-size: 24px;
    padding: 2px 30px 2px 20px;
    background: url(/st/image/common/pagetitle_arrow.gif) 0 50% no-repeat;
    float: left;
    line-height: 1;
}
#sub {
    border-bottom: 1px solid #3885f7;
    background: url(/st/image/common/all_bg.gif);
    padding-top: 18px;
}
#sub .subInner {
    width: 1250px;
    height: 34px;
    margin: 0 auto;
}

#sub p{
    font-size: 24px;
    padding: 0px 30px 0px 20px;
    background: url(/st/image/common/pagetitle_arrow.gif) 0 50% no-repeat;
}

#sub ul {
}
#sub ul li {
    display: inline;
    vertical-align: bottom;
}
#sub ul li a {
}
#sub ul li img {
}

#main h3 {
    background: #e4e4e4;
    color: #5B5B5B;
    padding: 2px 5px;
}

#main h3.search {
    background: #e4e4e4;
    height: 26px;
    color: #5B5B5B;
    padding: 0;
}
#main h3.search img {vertical-align: bottom;margin-top: -20px;}


#main h3.staff {
    background: #e4e4e4;
    height: 26px;
    color: #5B5B5B;
    margin-top: 20px;
    padding: 0;
}
#main h3.staff img {vertical-align: bottom;margin-top: -20px;}


#employee-list .button.disabled {
  color: #9D9387;
  border-color: #9D9387;
  cursor: default;
  opacity:0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  zoom: 1;
}

#employee-list .button.disabled:hover {
  background-color: #FFFFFF;
}


/* 共通 */
#main #content {
    width: 1250px;
    margin-top: 20px;
}
#all h2 {
    font-size: 24px;
    padding: 2px 30px 2px 20px;
    background: url(/st/image/common/pagetitle_arrow.gif) 0 50% no-repeat;
    float: left;
    line-height: 1;
}
#sub {
    border-bottom: 1px solid #3885f7;
    background: url(/st/image/common/all_bg.gif);
    padding-top: 18px;
}
#sub .subInner {
    width: 1250px;
    height: 34px;
    margin: 0 auto;
}
#sub ul {
}
#sub ul li {
    display: inline;
    vertical-align: bottom;
}
#sub ul li a {
}
#sub ul li img {
}

#main h3 {
    background: #e4e4e4;
    color: #5B5B5B;
    padding: 2px 5px;
}

#main h3.search {
    background: #e4e4e4;
    height: 26px;
    color: #5B5B5B;
    padding: 0;
}
#main h3.search img {vertical-align: bottom;margin-top: -20px;}


#main h3.staff {
    background: #e4e4e4;
    height: 26px;
    color: #5B5B5B;
    margin-top: 20px;
    padding: 0;
}
#main h3.staff img {vertical-align: bottom;margin-top: -20px;}


.textbutton {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 2px 12px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #606060;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #faf8eb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#faf8eb));
  background-image: -webkit-linear-gradient(top, #ffffff, #faf8eb);
  background-image: -o-linear-gradient(top, #ffffff, #faf8eb);
  background-image: linear-gradient(to bottom, #ffffff, #faf8eb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fffaf8eb', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #faf8eb;
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  text-decoration: none;
}
.textbutton:hover,
.textbutton:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.textbutton:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.textbutton.active,
.textbutton:active {
  color: #606060;
  background-image: -moz-linear-gradient(top, #faf8eb, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#faf8eb), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #faf8eb, #ffffff);
  background-image: -o-linear-gradient(top, #faf8eb, #ffffff);
  background-image: linear-gradient(to bottom, #faf8eb, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffaf8eb', endColorstr='#ffffffff', GradientType=0);
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.textbutton.disabled,
.textbutton[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.go-next,
.go-next {
  color: #ffffff;
  text-decoration: none;
  background-color: #5cb7fe;
  background-image: -moz-linear-gradient(top, #5cb7fe, #1e9cfe);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5cb7fe), to(#1e9cfe));
  background-image: -webkit-linear-gradient(top, #5cb7fe, #1e9cfe);
  background-image: -o-linear-gradient(top, #5cb7fe, #1e9cfe);
  background-image: linear-gradient(to bottom, #5cb7fe, #1e9cfe);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb7fe', endColorstr='#ff1e9cfe', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *background-color: #fe8c38;
}
.go-next:hover,
.go-next:focus {
  color: #ffffff;
  text-decoration: none;
  background-position: 0 -15px;
  background-color: #3584fa;
  background-image: -moz-linear-gradient(top, #5fb7fe, #3584fa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5fb7fe), to(#3584fa));
  background-image: -webkit-linear-gradient(top, #5fb7fe, #3584fa);
  background-image: -o-linear-gradient(top, #5fb7fe, #3584fa);
  background-image: linear-gradient(to bottom, #5fb7fe, #3584fa);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5fb7fe', endColorstr='#ff3584fa', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *background-color: #fe8c38;
}
.update-warn,
.update-warn {
  color: #ffffff;
  text-decoration: none;
  background-color: #fe8c38;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -moz-linear-gradient(top, #fbc375, #f8a836);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbc375), to(#f8a836));
  background-image: -webkit-linear-gradient(top, #fbc375, #f8a836);
  background-image: -o-linear-gradient(top, #fbc375, #f8a836);
  background-image: linear-gradient(to bottom, #fbc375, #f8a836);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbc375', endColorstr='#fff8a836', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *background-color: #fe8c38;
}
.update-warn:hover,
.update-warn:focus {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-position: 0 -15px;
  background-color: #fe8c38;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *background-color: #fe8c38;
}
