@charset "utf-8";

/*----------------------------------------------*/

/* ▼勤務表▼ */

#wrap-work-table-page {
	/*width: 598px;*/
}

.come{
    width :40px;
}
.out{
    width :40px;
}
.group {
	vertical-align: middle;
}

.not_apploved {
    padding:0 0 0 20px;
    display: inline;
}

.not_apploved input {
    vertical-align:middle;
}